
bg-1 = gray
bg-2 = lightgray
bg-3 = rgb(240, 240, 240)

col-1 = yellow
col-2 = gray
col-3 = blue
my-orange = #ff9900
bg-yel = #ffd600
bg-blue = #ffd600

bord() // Для отладки
  border solid black 1px

html, body, .img-1, img, .block-block, .block-list
  //bord()

body
  background-color: bg-3

// Меню заголовков:

// Делаю функции, для того, что бы использовать стили заголовков, и потом

h1()
  font-size: 35px

h2()
  font-size: 25px
  font-style: oblique //italic

.h0
  text-align: left
  font-size: x-small
  margin: 2px

.h1, .h2
  text-align: center

.h1
  h1()

.h2
  h2()

// Стили для титульной страницы:

// Классный стиль для горизонтального разделителя

.block-01
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: inherit;

.hl::after
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(202, 202, 202);
  margin-top: 10px; /* Отступ от верхнего края блока */

.my-text-01
  margin 50px
  margin-bottom 5px

.my-text-01, .my-text-02, .my-text-03
  text-align: center

.my-text-02 > p
  font-size: 20px

.my-text-03 > p
  color: rgb(204, 204, 204)

.my-text-01 > p
  color: black
  text-align: center
  font-size: 60px
  font-family: 'Blogger Sans', sans-serif;
//font-family: 'Blogger Sans-Light Italic', sans-serif;


// Новая галерея сериалов:
img
  align middle
  width 300px //auto
  height 200px
  margin 10px
  border-radius: 7px
  object-fit: cover
  image-rendering: optimizeQuality
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

#gallery
  width: 90%
  margin: auto
  text-align: center

// Старая галерея сериалов:
/*
img
	align middle
	width 200px
	height 200px
	margin 10px
	border-radius: 7px
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

.img-1 img
	border-radius: 10px
	&:hover
		//filter: blur(0px) contrast(115%)
	&:active
		//filter: hue-rotate(180deg);

a > img // Для выделения активного элемента
	border: 2px solid col-3
	&:hover
		//border: 2px dashed col-3
*/

// Несколько классов, для красивого scroll-бара:

.block-block-2
  width 100%
  //overflow: auto
  margin auto
  .img-1
    width 890px
    margin auto
    overflow auto

@media (max-width 890px)
  .block-block-2 > .img-1
    width 450px
    margin auto
    overflow auto

// Сетка для блока описания сериала, его картинки и заголовка

.block-title, .block-title > img, .block-title > p, .main-title
  //bord()

.block-title > p, .main-title
  padding 2px 7px

.block-title
  display: grid
  grid-template-columns min-content auto //repeat(2, 1fr)
  grid-template-rows min-content auto //repeat(2, 1fr)

.block-title > img
  grid-row 1/3

.block-title > p
  h2()
  font-style: normal
  font-weight: bold

@media (min-width 1100px)
  .block-title, details
    width 1100px
    margin auto

// Footer:

.page-footer
  padding: 1rem;
  background: #333;
  color: #fff;
  text-align: center;

.page-footer.fixed-bottom
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;


// Page 2: Раскрывающиеся списки

.table p, .table input, .left-edge-1, .right-edge-1
  //bord()

.left-edge-1, .right-edge-1
  margin: 0px 10px

.left-edge-2, .right-edge-2, .center-edge-2
  margin: 0px 10px
  display: grid
//bord()

.left-edge-2
  grid-column 1/2

.center-edge-2
  grid-column 2/3

.right-edge-2
  grid-column 3/4
  p
    height: 20px
//bord()

p.title-1
  font-weight: bold

.title-1-1
  display: grid
  grid-column 1/3
  text-align: center
  font-size: x-large

.title-1-2
  display: grid
  grid-column 1/4
  text-align: center
  font-size: x-large

.f50px-spase
  width 100%
  height 50px
//bord()

.table
  display: grid
  grid-template-columns repeat(2, 1fr)
  grid-template-rows 1fr //repeat(5, 1fr)
  width: 80%
  margin: 20px auto
  padding: 10px
  background-color: white
  border-radius: 10px
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25)
  & > button
    display: grid
    grid-column: 1/3
    width: 45%
    margin: auto
    border: solid black 2px
    border-radius: 5px
    background-color: bg-blue
/*
&:hover
    background-color: bg-yel
    border: dashed black 2px
    */

.table-2
  display: grid
  grid-template-columns max-content max-content auto //repeat(2, 1fr)
  grid-template-rows 1fr //repeat(5, 1fr)
  width: 80%
  margin: 20px auto
  padding: 10px
  background-color: white
  border-radius: 10px
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25)
  & > button
    display: grid
    grid-column: 1/4
    width: 45%
    margin: auto
    border: solid black 2px
    border-radius: 5px
    background-color: bg-blue
/*
&:hover
    background-color: bg-yel
    border: dashed black 2px
    */


.main-block
  #butt-sort, #butt-filter, #butt-graf
    font-style: italic
    &:hover, &:active, &::selection
      background-color: bg-yel
      border: dashed black 2px
    &:active
      //color red
      font-weight: bold
      border: dashed black 2px


.table > p, .table > input
  display block

.right-edge-1
  display: grid
  grid-column: 2/3

.block-02
  .left-edge-1
    p
      line-height: 30px

@media (min-width 800px)
  details
    width 800px
    margin auto

@media (min-width 1200px)
  details, .main-block, .block-01, .block-02
    //bord()

  details
    width 1200px
    margin auto
  .main-block
    display: grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(2, 1fr)
  .block-01
    display: grid
    grid-column: 1/2
    grid-row: 1/2
  .block-02
    display: grid
    grid-column: 2/3
    grid-row: 1/3
  .table, .table-2
    width: 90%
    margin: 20px auto
  summary
    font-size: large
  .class_01
    height 430px

.block-01 > .table
  width: 100%
  margin-left: 0px
//bord()

@media (max-width 1200px)
  .block-01 > .table
    width: 94%
    //margin-left: 0px
    margin auto
//bord()

@media (min-width 1200px)
  .block-01
    //bord()
    padding-left: 0px
    padding-right: 0px

.block-02
  margin-top: 20px


@media (max-width 1200px)
  .table.class_01
    margin-bottom: 40px
//bord()

.main-block
  //padding-bottom: 0px
  height: 600px
//bord()

@media (max-width 1200px)
  .main-block
    height: auto

// Надпись "Блок настроек показа"


// Название таблицы

p.text-001
  text-align: center
  margin-top 30px
  font-size: 35px

// Таблица

table
  width: 80%
  margin:  auto;
  td
    padding 4px 7px
    bord()

tr.title
  td
    font-weight: bold
    border solid black 0px
//color red

// Галерея на отдельной странице

.cl-center
  text-align: center

.img-class
  width: 80%
  margin auto

.img-class
  div
    display inline

.img-class > img
  width: 300px
  height: 200px

// Создаю пустое пространство

.zoop
  height: 70px

// Надпись о том, что ничего не найдено

#bad-news
  text-align: center

.block-01
  input, p
    display inline-block;
  //#in-1
  //color: orange
  input#in-1[type='checkbox']
    background-color: orange;

  // Кружки - для обозначения цвета, который будет использован на графике,
  // для их построения
  span
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left 7px

  // Подсказка, которая появляется, при наведении мышки на элемент
  .tooltip
    position: relative;
  .tooltip:hover::before
    content: "Цвет линии на графике" //attr(title);
    position: absolute;
    top: -35px;
    left: 0px;
    background-color: inherit;
    color: black;
    padding: 3px;
    padding-left: 10px;
    width: 180px
    font-size: 15px
    border-radius: 6px

  span#or
    background-color: orange
  span#gr
    background-color: lightgreen
  span#bl
    background-color: bg-blue

// Блок для графика

.block-graf
  //bord()
  width: 90%
  height: auto
  margin:  30px auto

  width: 80%
  margin: 20px auto
  padding: 10px
  background-color: white
  border-radius: 10px
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35)

.block-graf > p
  font-size: x-large
  text-align: center
  margin 10px

.curr-graff
  //bord()
  height 300px
  width 500px
  margin: auto

.bar {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.bar-container {
  margin-right: 4px;
  margin-left: 4px;
}